h2 {
  text-transform: uppercase;
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1b242f;
  text-align: center;
}

.flex-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.flex-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #1b242f;
}
form {
  width: 85%;
}
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  margin-bottom: 20px;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px 30px;
  background-color: rgba($color: #03f4e0, $alpha: 0);
  color: white;
  border: 2px solid white;
  transition: 0.3s;
  cursor: pointer;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    background-color: rgba($color: #03f4e0, $alpha: 0.7);
    border: 2px solid rgba($color: #03f4e0, $alpha: 0.2);
  }
}
