.text-center {
  text-align: center;
  color: white;
}
.Footer-icon {
  padding-left: 3px;
  padding-right: 3px;
  font-size: 1.5em;
}

a:hover {
  cursor: pointer;
}

.name {
  margin-bottom: 0;
  font-size: 0.8rem;
}

.top-icon {
  position: relative;
  top: -2px;
  background: #1b242f;
  cursor: pointer;
  border: 2px solid white;
  margin-bottom: 0.25rem;

  transition: 0.3s;

  &:hover {
    background-color: rgba($color: #03f4e0, $alpha: 0.7);
    border: 2px solid rgba($color: #03f4e0, $alpha: 0.2);
  }
}

@media (max-width: 768px) {
  .Footer-icon {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 3em;
  }
}
@media (min-width: 768px) {
  .Footer-icon {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 3em;
  }
}
@media (min-width: 992px) {
  .Footer-icon {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 4em;
  }
}
@media (min-width: 1200px) {
  .Footer-icon {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 3em;
  }
}
