.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 30px;
  z-index: 2;
  background: #1b242f;
  width: 100%;
  border-bottom: 2px solid #03f4e0;
  transition: 0.3s;
  height: inherit;

  li {
    margin-top: calc(1.45rem / 2);
  }
}
.burger-checked,
.burger-unchecked {
  opacity: 0;
}

.nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin: 0;
}
.nav-item {
  color: #ffffff;
  font-size: 0.9rem;
  margin-right: 1.3rem;
  text-decoration: none;
}
.nav-item:hover {
  color: #03f4e0;
}
.active-nav-item {
  color: #03f4e0;
  background: #ffffff;
}

@media screen and (max-width: 500px) {
  .flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 30px;
    z-index: 2;
    background: #1b242f;
    width: 100%;
    border-bottom: 2px solid #03f4e0;
    min-height: 50px;
    height: 1vh;
    transition: 0.3s;

    ul {
      width: 100%;
    }

    li {
      margin-top: calc(1.45rem / 2);
    }
  }

  .nav-list {
    opacity: 0;
    flex-direction: column;
    margin-top: 50px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
  }
  .burger {
    opacity: 1;
    color: white;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    font-size: 30px;
    line-height: 50px;
    margin: 0;
    outline: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 0;
    right: 10px;
    width: 50px;
  }

  .burger {
    content: url("../images/menu.svg");
  }

  .burger:checked {
    content: url("../images/cross.svg");

    .nav-item {
      display: none;
    }
  }

  .burger-checked {
    opacity: 1;
    color: white;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    font-size: 30px;
    line-height: 50px;
    margin: 0;
    outline: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 0;
    right: 10px;
    width: 50px;
    content: url("../images/menu.svg");
  }
  .burger-unchecked {
    opacity: 1;
    color: white;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    font-size: 30px;
    line-height: 50px;
    margin: 0;
    outline: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 0;
    right: 10px;
    width: 50px;
    content: url("../images/cross.svg");
  }
}
