.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 30px;
  z-index: 2;
  background: #1b242f;
  width: 100%;
  border-bottom: 2px solid #03f4e0;
  transition: 0.3s;
  height: inherit;

  li {
    margin-top: calc(1.45rem / 2);
  }
}

.nav-background {
  background: #1b242f;
  border-bottom: 2px solid #03f4e0;
}

.nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin: 0;
}
.nav-item {
  color: #ffffff;
  font-size: 0.9rem;
  margin-right: 1.3rem;
  text-decoration: none;
}
.nav-hover:hover {
  color: #03f4e0 !important;
}
.active-nav-item {
  color: #03f4e0;
  background: #ffffff;
}
