$opacity: 0;
.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/* relevant styles */
.img-wrap {
  position: relative;
}
.img-img {
  margin: 0;
  width: 100%;
  max-width: 400px;
  height: auto;
}
.img-description {
  height: 100%;
  position: absolute;
  text-align: center;
  top: 20%;
  left: 25%;
  right: 25%;
  font-weight: bold;
  animation-duration: 3s;
  color: #fff;
  visibility: visible;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity 0.2s, visibility 0.2s;
}
.button {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 25%;
  right: 25%;
  opacity: 0;
  z-index: 1;
  padding: 3px 9px;
  border: 2px solid white;
  background-color: rgba($color: #03f4e0, $alpha: 0);
  color: white;
  white-space: nowrap;
  transition: opacity 0.2s, visibility 0.2s;

  &:hover {
    background-color: rgba($color: #03f4e0, $alpha: 1);
    border: 2px solid rgba($color: #03f4e0, $alpha: 0.2);
    color: white;
  }
}

.img-wrap:hover .img-description {
  visibility: visible;
  opacity: 1;
}

.img-wrap:hover .button {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 760px) {
  .button {
    min-width: 60%;
  }
}
